# Duplicate this file as '.env' locally to configure personal details
# Do NOT commit '.env' to your public repository!
VITE_USER_NAME=Your Name
VITE_USER_EMAIL=your.email@example.com
VITE_USER_LINKEDIN=https://www.linkedin.com/in/yourprofile/
VITE_USER_GITHUB=https://github.com/yourusername
